<div class="container mt-5 text-center">
  <h1>new meeting</h1>
  <p>find me one app/views/meetings/new.html.erb</p>

  <%= render "form", meeting: @meeting %>

  <br>

  <div>
    <%= link_to "Back to Meetings", meetings_path %>
  </div>
</div>
