<div >
<div  id="fg" class="card p-3 shadow-sm rounded">
  <div class="container mt-5 text-center">

    <div class="area"> New Metting </div>

    <%= render "form", meeting: @meeting, group: @group %>

    <br>

    <div>

    </div>
  </div>
</div>
</div>
