<div class="card">
  <div class="group-content">

    <div class="parent">
      <div class="div1">
        <div class="group-image ">
          <img class="rounded" alt="Default img" src="https://images.unsplash.com/photo-1434993568367-36f24aa04d2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        </div>
      </div>
      <div class="div2">
        <h2><i class="fas fa-thumbs-up"></i> <%= @group.title  %>
        </h2>
      </div>
      <div class="div3">
        <p>
          <i class="fa-solid fa-location-dot"></i>
          <%= @group.city.name  %>
        </p>
      </div>
      <div class="div4">
        <p><%= @group.description  %></p>
      </div>

      <div class="div5">
        <small class="cardd-members"><%= "99 members" %></small>
        <button type="button" class="bttn bttn-danger -small card-bttn">Join Group</button>
      </div>
    </div>

  </div>
</div>
