<div id="group-show" class="card">
  <div class="group-content rounded">

    <div class="parent">
      <div class="div1">
        <div class="group-image ">
          <img class="rounded" alt="Default img" src="https://images.unsplash.com/photo-1434993568367-36f24aa04d2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        </div>
      </div>
      <div class="div2">
        <h2><i class="fas fa-thumbs-up"></i> <%= @group.title  %>
        </h2>
      </div>
      <div class="div3">
        <p>
          <i class="fa-solid fa-location-dot"></i>
          <%= @group.city.name  %>
        </p>
      </div>
      <div class="div4">
        <p><%= @group.description  %></p>
      </div>

      <div class="div5">
        <small class="cardd-members"><%= "99 members" %></small>
        <button type="button" class="bttn bttn-danger -small card-bttn">Join Group</button>
          <div class="avatar-group">
            <div class="avatar">
                <span class="avatar-name">Someone</span>
                <img src="https://media.admagazine.fr/photos/63d15b4291b6868214e1a9d5/16:9/w_1600%2Cc_limit/Axel%2520Goulee.png" alt="Image">
            </div>
            <div class="avatar">
                <span class="avatar-name">Somtree</span>
                <img src="https://img.freepik.com/photos-gratuite/jeune-femme-reveuse-lunettes-soleil-avant_197531-16739.jpg" alt="Image">
            </div>
            <div class="avatar">
                <span class="avatar-name">Sometwo</span>
                <img src= "https://images.unsplash.com/photo-1606122017369-d782bbb78f32?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydHJhaXRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80"                                                                                                      alt="Image">
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
           <%# avatar %>
