#ban{
  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  span{
    color: orange;
  }
  .banner h1 {
    margin-bottom: 8px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .d{
    margin-top: px;
    border-radius: 6px;
    border: 2px solid #ff4b01;
    background: #ff4b01;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
  }
}
