.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: rgb(255, 255, 255);
  padding: 2px 6px;
  border-radius: 4px;
  background: #ff4014;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #faa000;
  color: white;
}
h1{
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
  color: #333;
  text-shadow: 2px 2px 4px #999;
  margin: 10px;
}

#fg{
  background: linear-gradient(-45deg, #ff4014, #ffa38f, #fff9f9, #f7f7f7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

}

#prof{

  min-height: 400px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  width: 50%;
  margin-left: 300px;
  opacity: 70%;
}
#na{
  position: relative;
  padding: 10px 25px;
  background: #ff4b01;
  text-decoration: none;
  color: #fff  ;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);

  text-decoration: none;
}
.area {
  text-align: center;
  font-size: 3.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 400;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #060606,
      0px 0px 25px #060606,
      0px 0px 25px #060606,
      0px 0px 25px #060606,
      0px 0px 25px #060606,
      0px 0px 25px #060606,
      0px 0px 25px #060606,
      0px 0px 50px #060606,
      0px 0px 50px #060606,
      0px 0px 50px #ff4b01,
      0px 0px 150px #ff4b01,
      0px 10px 100px #ff4b01,
      0px 10px 100px #ff4b01,
      0px 10px 100px #ff4b01,
      0px 10px 100px #ff4b01,
      0px -10px 100px #ff4b01,
      0px -10px 100px #ff4b01;
  }
}
