// search bar styling
form[data-search-groups-target="form"] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  input[data-search-groups-target="input"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    background-color: #3e4749;
    color: white;

    &::placeholder {
      color: #879499;
    }
  }

  input[type="submit"][data-search-groups-target="submit"] {
    background-color: #ff4014;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #faa000;
    }
  }
}

// card styling
#list {
  .card-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 25px 0px 25px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    overflow: hidden;
    position: relative;

    .card-image {
      width: 30%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        border-radius: 0px 75px 75px 0;
      }
    }

    .card-title {
      width: 70%;
      margin-left: 15px;

      h3 {
        font-size: 1.2rem;
        color: #3e4749;
      }
    }
    .join-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      margin: 0;
      padding: 0.5rem 1rem;
      background-color: #ff4014;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1.2rem;
      transition: background-color 0.3s ease-in-out;
      text-decoration: none;
      &:hover {
        background-color: #faa000;
      }
    }
  }
}
