.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#pray li{
  color: #ff4b01;
}
a.nav-btn{
  color: #ff4b01 !important;
  border: 1px solid #ff4b01 ;
  background-color: white;
  padding: 8px 16px;
  border-radius: 16px;
  margin: 0 8px;
  &:hover{
    color: white !important;
    background-color: #ff4b01;
  }
}
