
.container{
  margin-top: 70px;
}
#post-show{
  min-height: 500px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}
.la p{
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;

}

.title{
  margin-top: 9px;
}
.card-d{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -90px;
  left: 35%;
  box-shadow:0 15px 35px -15px rgba(0,0,0,0.5),0 5px 20px 0 rgba(0,0,0,0.1);

}
.card-d img{
  width: 100%;
  transform: scale(1.2);
}
#group-tv{
  position: relative;
  min-height: 450px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  padding-top: 40px;



}
// #rf{
  .card-s {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .card-s:hover {
    width: 600px;
    transition-delay: 0.5s;
  }
  .card-s .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-s .circle::before {
    content: "";
    position: absolute;
    top: 30;
    left: 2;
    right: 2;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
  }
  .card-s:hover .circle::before {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
  }
  .card-s .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  .card-s:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
  }
  .card-s .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
  }
  .card-s:hover .product_img {
    transition-delay: 0.75s;
    top: 55%;
    left: 82%;
    height: 320px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
  }
  .card-s .content {
    position: absolute;
    width: 60%;
    left: 10%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
  }
  .card-s:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 3px;
    margin-top: 15px;
  }
  .card-s .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
  }
  .card-s .content p {
    color: #fff;
  }
  .card-s .content a {
    position: relative;
    color: #fff;
    background: #222222;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 15px;
  }

//   padding: 10px 25px;
//   background: #ff4b01;
//   text-decoration: none;
//   color: #fff;
//   border-radius: 25px;
//   font-weight: 500;
//   text-shadow: 0 2px 2px rgba(0,0,0,0.25);
//   text-align: right;
//   text-decoration: none;

// }

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  padding-top: 30px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);


}
.data{
  display: flex;
  justify-content: space-between;
  margin: 30px ;
}
.data h3{
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
}
.data span{
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.t{
  position: relative;
  padding: 10px 25px;
  background: #ff4b01;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
  margin-left: 130px;
  text-decoration: none;


}
.comments-container{
  margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
