.container{
  margin-top: 70px;
}
#post-show{
  min-height: 500px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
}
.la p{
  font-weight: bold;
  margin-left: 15px;
  margin-top: 20px;

}
.title{
  margin-top: 9px;
}
.card-d{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -90px;
  left: 35%;
  box-shadow:0 15px 35px -15px rgba(0,0,0,0.5),0 5px 20px 0 rgba(0,0,0,0.1);

}
.card-d img{
  width: 100%;
  transform: scale(1.2);
}
#group-tv{
  position: relative;
  min-height: 450px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  padding-top: 40px;



}
// #rf{
 
//   padding: 10px 25px;
//   background: #ff4b01;
//   text-decoration: none;
//   color: #fff;
//   border-radius: 25px;
//   font-weight: 500;
//   text-shadow: 0 2px 2px rgba(0,0,0,0.25);
//   text-align: right;
//   text-decoration: none;

// }

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  padding: 20px 20px;
  padding-top: 30px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);


}
.data{
  display: flex;
  justify-content: space-between;
  margin: 30px ;
}
.data h3{
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
}
.data span{
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.t{
  position: relative;
  padding: 10px 25px;
  background: #ff4b01;
  text-decoration: none;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0,0,0,0.25);
  margin-left: 130px;
  text-decoration: none;


}
